<a href="https://colab.research.google.com/github/bhuvaneshraja-10/bhuvanesh/blob/main/swapcase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
stu_marks = {}
num_stu = int(input("Enter the no of students:"))
for i in range (num_stu):
  name = input(f"Enter the name of student {i + 1}: ")
  marks = float(input(f"Enter the marks for {name} (out of 100): "))
  stu_marks[name] = marks


print("\nResults of the students:")
for name, marks in stu_marks.items():
  if marks >= 90:
   grade = 'A'
  elif marks >= 75:
   grade = 'B'
  elif marks >= 60:
   grade = 'C'
  elif marks >= 50:
   grade = 'D'
  else :
   grade = 'F'

  status = "passed" if marks >=50 else "fail"

  print(f"{name}: marks = {marks}, grade = {grade}, status = {status}")

Enter the no of students:10
 enter the marks for enter the name of the students1  (out of 100):rai : 80

ValueError: could not convert string to float: 'rai : 80'

In [6]:

def swap_case(s):
    string = []
    for each in s:
        if each.islower():
            string.append(each.upper())
        elif each.isupper():
            string.append(each.lower())
        else:
            string.append(each)
    s = "".join(string)
    return s


if __name__ == '__main__':
    s = input()
    result = swap_case(s)
    print(result)

oNE pEICE is bEST
One Peice IS Best